/* fonts to be used from google fonts
Oi
Lacquer
Rubik Dirt
Jolly Lodger
Permanent Marker
Rubik Wet Paint
*/

html {
    scroll-behavior: smooth;
    border: none;
    cursor: pointer;
}

h1,h2,h3, p{
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    font-style: bold;
}

/* for header */
header{
    padding: 30px;
    text-align: center;
    background-color: #c27913; /* for testing*/
}

/* for body */
body{
    margin: 0;
    padding: 0;
    border:none;
}

/* for masthead */
.masthead{
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #c21313; /* for testing*/
}

/* for the containe - left for the output and right for the form */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

/* for both sides making them same size */
.left-side, .right-side {
    width: 45%;
    padding: 20px;
    margin: 20px;
    /* border: 1px solid black; */
}

/* for left side */
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(229, 91, 17);
}
.left-side img{
    width: 300px;
    height: 400px;
    margin: 10px;
    object-fit: cover;
    border-radius: 30px; 
}
#smoothie-order{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 10px;
    line-height: 2.5;
}

/* right side */
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 850px;
    padding: 20px;
    background-color: darkolivegreen; /* for testing*/

}

.right-side form div{
    text-align: center;
    margin: 10px;
    padding:10px;
    border: 3px solid black;
    border-radius: 10px;  
    background-color: rgb(41, 142, 130); /* for testing*/
}
 /* making when user wants to choose it hovers color*/
.right-side form div:hover{
    background-color: rgb(41, 142, 130, 0.7);
    border-color: blue;
}

/* for button */
button{
    background-color: rgb(41, 43, 142); /* for testing*/
    border: none;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(142, 41, 97, 0.7); /* for testing*/
}

/* for the icons */
#product-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: darkolivegreen; /* for testing*/
    margin: 20px;
}

#product-icons img{
    width: 100px;
    height: 120px;
   
}

/* for footer */

