/* fonts to be used from google fonts
Oi
Rubik Dirt
Jolly Lodger
Permanent Marker
Rubik Wet Paint
*/

html {
    scroll-behavior: smooth;
    border: none;
    cursor: pointer;
}

h1,h2,h3, p{
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    font-style: bold;
}

/* for header */
header{
    padding: 30px;
    text-align: center;
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%); 
}
header h3{
    font-size: 2.1rem;
    font-family: 'Rubik Wet Paint';
}

/* for body */
body{
    margin: 0;
    padding: 0;
    border:none;
    
}

/* for masthead */
.masthead{
    text-align: center;
    height: 50vh;
    background-image: url("../imgs/smoothie3.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.masthead h1{
    font-family: 'Oi';
    font-size: 5em;
    color: #c54c82;
    text-shadow: 10px 8px 5px rgba(8, 2, 5, 0.855);
    letter-spacing: 4px;
    text-align: center;
}

/* for the containe - left for the output and right for the form */
.container{
    display: flex;
    justify-content: space-between;
    padding: 60px;
   
}

/* for both sides making them same size */
.left-side, .right-side {
    width: 45%;
   
}

/* for left side */
.left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(225, 186, 196);
    width: 55%;
    border-radius: 20px;
}
.left-side p {
    font-family: 'Jolly Lodger';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
    margin-right: 20px;
    white-space: pre-line;
    color: #8f083e;
}

.left-side img{
    height: 400px;
    margin: 10px;
    object-fit: cover;
    border-radius: 30px; 
    
}


/* right side */
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
   

}

.right-side form div{
    text-align: center;
    margin: 10px;
    padding:10px;
    border-radius: 10px;  
    background-color: #e498b3e8; 
    font-family:'Permanent Marker';
    font-size: 15px;
}
 /* making when user wants to choose it hovers color*/
.right-side form div:hover{
    background-color: #f8c9d4;
}

/* for the ckeckbox color */
input {
    accent-color: #c3195d; 
}


/* for button */
button{
    background-color: rgb(241, 132, 157);
    border: none;
    margin: 10px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Rubik Dirt';
    font-size: 20px;
    color: rgb(158, 45, 86);
}
button:hover{
    background-color: rgb(248, 201, 212); 
}

/* for the icons */
#product-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

#product-icons img{
    width: 100px;
    height: 120px;
   
}

/* for footer */
footer{
    text-align: center;
    padding: 30px;
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%); 
}
footer h4{
    font-size: 2.1rem;
    font-family: 'Rubik Wet Paint';
}




