html {
    scroll-behavior: smooth;
    border: none;
    cursor: pointer;
}

h1,h2, p{
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    font-style: bold;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1.7rem;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    text-align: center;
}
/* div id="country-info */
#country-info {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* buttons */
input{
    padding: 10px;
    height: 30px;
    width: 30%;
    font-size: 1rem;
    font-family: sans-serif;
    font-style: bold;
    border: none;
}
button{
    padding: 10px;
    width: 10%;
    height: 50%;
    font-size: 1rem;
    font-family: sans-serif;
    font-style: bold;
    border-radius: 15px;
    border: 3px;
    cursor: pointer;
    
}
button:hover{
    background-color: #eaba0b;
    color: #000;
}
/* id="resultsDetail" */
#resultsDetail {
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    white-space: pre-wrap;
}






